/* src/components/layout/Layout.css */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-content {
  display: flex;
  flex: 1;
  padding-top: 60px; /* Height of navbar */
  padding-bottom: 90px; /* Height of player */
}

.main-content {
  flex: 1;
  margin-left: 250px; /* Width of sidebar */
  overflow-y: auto;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}